/* layout */
:root {
  --primary-color: #00acee;
  --secondary-color: #ee7d00;
  --secondary-color-dark: #a15400;
  --text-primary-color: #333;
  --text-secondary-color: #666;
  --text-disabled-color: #757a90;

  --container-bg-color: #fff;
  --button-bg-color: #fff;
  --button-border-color: #d8d8d8;

  --error-color: #761500;
  --error-bg-color: #dc8775;

  --font-regular: 1rem;
  --font-small: 0.8rem;
  --font-large: 1.2rem;
  --font-subHeader: 1.2rem;
  --font-button: 11px;

  --duration-quick: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TODO - move these styles to modules */
.header {
  background-color: var(--primary-color);
  padding: 5px;
}

#userListSidePanel {
  border-right: 1px solid var(--primary-color);
}

/* modules */
/* input elements */
.input {
  width: 100%;
}

.input--min150pxWide {
  min-width: 150px;
}

.button-link {
  color: var(--text-primary-color);
  display: inline-block;
  background-color: var(--button-bg-color);
  text-decoration: none;
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  font-size: var(--font-button);
  cursor: default;
}

.button-link:active {
  /* background-color: linear-gradient(#000, #fff); */
  background-color: green;
  background: linear-gradient(#509afb, #1469e1);
}

.button-link-disabled {
  display: inline-block;
  background-color: var(--button-bg-color);
  color: var(--text-disabled-color);
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  font-size: var(--font-button);
}

.form {
  display: flex;
  flex-direction: column;
}
.form__button {
  padding: 5px;
  color: var(--text-primary-color);
  cursor: pointer;
  align-self: center;
}

.form__button:disabled {
  color: #ccc;
  cursor: none;
}

/* lists */
.list {
  list-style-type: none;
}

.list--indent {
  list-style-type: circle;
  margin-left: 30px;
}

.list--small {
  font-size: var(--font-small);
}

.listItem {
  padding: 5px 0;
  color: var(--text-primary-color);
}

.listItem--headerLink {
  display: inline-block;
  padding: 5px;
}

.listItem--headerLink:last-of-type {
  margin-right: 10px;
}

.listItem::after {
  clear: both;
  content: "";
  display: block;
}

.listItem:hover {
  background-color: color(var(--secondary-color) s(-60%) l(96%));
}

/* top level item in list of lists, e.g. catogory */
.outerListItem {
  /* border-bottom: 1px dotted var(--text-secondary-color); */
  margin-bottom: 20px;
}

.outerListItem__header {
  margin-bottom: 3px;
  color: var(--text-secondary-color);
}

/* bordered list item module */
.listItem--bordered {
  border-bottom: 1px solid var(--primary-color);
  padding: 20px;
}

.listItem--bordered:last-of-type {
  border-bottom: none;
}

/* .listItem--bordered:nth-of-type(1) {
  border-top: 1px solid var(--primary-color);
} */

.listItem--selectedText {
  color: var(--secondary-color-dark);
}

/* .listItem--large {
  composes: listItem;
  padding: 5px;
} */

.listItem__textGroup {
  margin-bottom: 0.5rem;
}

/* option module */
.option {
  cursor: pointer;
  font-size: var(--font-small);
  user-select: none;
}

.option--big {
  padding-left: 10px;
}

.option--bigOneOnly {
  padding: 0 5px;
}

.option__textSmall {
  font-size: var(--font-small);
}

.option__textRegular {
  font-size: var(--font-regular);
}

.option__textBig {
  font-size: var(--font-large);
}

/* links */
.link {
  color: var(--text-secondary-color);
}

/* typography */
.headerText1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: var(--text-secondary-color);
  /* overflow: hidden; */
}

.footNote {
  font-size: var(--font-small);
  color: var(--text-secondary-color);
}

.errorMessage {
  font-size: var(--font-small);
  color: var(--error-color);
}

.para {
  margin-bottom: 1rem;
  line-height: 1.3rem;
}

.para--tweet {
  margin-bottom: 0;
}

/* subcontainers */
.flexContainer {
  display: flex;
  flex-direction: row;
}

.clear-float-container::after {
  clear: both;
  content: "";
  display: block;
}

.panelContainer {
  background-color: color(var(--primary-color) s(-60%) l(95%));
}

.visibilityContainer {
  visibility: visible;
}

.subContainer {
  /* padding: 5px; */
  background-color: var(--container-bg-color);
}

.subContainer--fade {
  /* padding: 5px; */
  background-color: var(--container-bg-color);
  opacity: 1;
  transition: opacity var(--duration-quick);
  visibility: visible;
  overflow: hidden;
}

.subContainer--borderBottom {
  border-bottom: 1px solid var(--primary-color);
}

.subContainer__header {
  font-size: var(--font-subHeader);
  margin-bottom: 10px;
}

/* field subcontainers - holding label, input element, etc. */
.subContainer--field {
  padding: 0px 0px 10px;
}
.subContainer--field:last-of-type {
  padding-bottom: 0px;
}
.subContainer--oneFieldOnly {
  padding: 0px 0px 10px;
}
.subContainer--field::after {
  clear: both;
  content: "";
  display: block;
}

.subContainer--field__label {
  font-size: var(--font-small);
}

.subContainer--large {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

.subContainer--leaf {
  padding: 5px;
}

.subContainer--leafVerticalStack {
  padding: 0 5px;
}
.subContainer--leafVerticalStack:nth-of-type(1) {
  padding: 5px 5px 0;
}
.subContainer--leafVerticalStack:last-of-type {
  padding: 0 5px 5px;
}

.arrow {
  width: 25px;
  height: 25px;
  fill: var(--text-secondary-color);
  transition: transform var(--duration-quick);
}

.arrow--reverse {
  transform: rotate(-180deg);
}

/* utilities */
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.mb5 {
  margin-bottom: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 5px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}

.pad5 {
  padding: 5px;
}

.vTop {
  vertical-align: top;
}

.ellipsis-for-long-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrap-text {
  overflow-wrap: break-word;
}

.clickable {
  cursor: pointer;
}
